VITE_API_URL=https://medivision-ai-u6qe.onrender.com
VITE_FIREBASE_API_KEY=YOUR_FIREBASE_API_KEY
VITE_FIREBASE_AUTH_DOMAIN=medvision-ai-1ea73.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=medvision-ai-1ea73
VITE_FIREBASE_STORAGE_BUCKET=medvision-ai-1ea73.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=273504673712
VITE_FIREBASE_APP_ID=YOUR_FIREBASE_APP_ID
